body {
    background-color: rgb(175, 167, 55);
    position: static;
}

h1 {
    font-family: Copperplate, Papyrus, fantasy;
}

img {
    display: block;
    right: 0px;
    left:50px;
    width: 300px;
    width: 100%;
    margin-top: 100px;
    opacity: 0.3;
}

.btn-tela-inicial {
    background-color: #4e480c;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    position: absolute;
    right: 50px;
    width: 200px;


}

.btn-tela-inicial:hover {
    background-color: #95af4c;
}

.btn-inscreva-se {
    background-color: #4e480c;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    position: absolute;
    right: 300px;
    width: 200px;
}

.btn-inscreva-se:hover {
    background-color: #95af4c;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;

}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    float: left;
}

#menu-h ul li a:hover {
    background-color: #4e480c;
}

#menu-h ul li:last-child a {
    float: right;
    background-color: #4e480c;
}

input[type=text] {
    background-color:#4e480c;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 100px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    float: left;
    border: 2px solid #4e480c;
    border-radius: 10px;
}
#divBusca input {
    color: #fff
};